form {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 30px auto;
}

input {
  margin: 5px 0;
}

.posts {
  width: 70%;
  margin: 0 auto;
}

.post {
  border: 1px solid lightgray;
  box-shadow: inset 1px 1px 1px 1px lightgray;
  margin: 10px 0;
  padding: 10px;
}